**/.cache/
**/.env
**/.git/
**/.svn/
**/.vscode/
**/*.a
**/*.class
**/*.dll
**/*.dylib
**/*.exe
**/*.jar
**/*.lib
**/*.log
**/*.o
**/*.obj
**/*.pdb
**/*.pyc
**/*.pyo
**/*.so
**/*.swo
**/*.swp
**/bin/
**/build/
**/cache/
**/coverage/
**/dbg/
**/debug/
**/dist/
**/log/
**/logs/
**/node_modules/
**/obj/
**/out/
**/Release/
**/releases/
**/temp/
**/tmp/
